<h2>Mailing</h2>

<% if Setting.sender_address.blank? or (Rails.env.production? and Setting.smtp_host.blank?) %>
  <div class="alert alert-danger">
    <strong>Attention:</strong> Avant de pouvoir envoyer des emails, vous devez définir l'adresse expéditeur
    et les paramètres SMTP dans les <%= link_to 'préférences Piwam', settings_path %>.
  </div>
<% end %>

<%= render 'form' %>
