.alert {
  padding: 9px;
  border: 1px dotted transparent;
  border-radius: 0;
}
.alert-success {
  color: #000;
  background-color: #80fa46;
  border-color: #777;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}