.btn {
  color: #777;
  font-weight: bold;
  background-color: #eaeaea;
  padding: 1px 10px 1px 3px;
  font-size: 12px; 
  border-radius: 0;
  img {
    vertical-align: top;
  }
  &:hover {
    color: #777;
  }
  &:active {
    box-shadow: none;
  }
}

.btn-submit {
  border-left: 1px solid #a1bcd4;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #a1bcd4;
  background-color: #4e67a7;
  color: #fff;
  font-size: 10px;
  font-weight: normal;
  padding: 3px 6px;
  text-shadow: 0 1px 0 #000;
  text-decoration: none;
}

.btn-action {
  border-left: 1px solid #A1BCD4;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
  border-top: 1px solid #A1BCD4;
  background-color: #cedeff;
  color: #666;
  font-weight: normal;
  padding: 3px 6px 4px 6px;
  font-size: 11px;
  &:hover {
    text-decoration: none;
    color: #666;
  }
}

.btn-upload {
  position: relative;
  overflow: hidden;
  background-color: #d2d8df;
  background: linear-gradient(#d2d8df, #b9c2cc);
  color: #444;
  padding-left: 10px;
  font-size: 13px;
  width: 86px;
  height: 22px;
  line-height: 22px;

  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}