.pagination {
  display: block;
  margin-top: 15px;

  .current, a {
    display: inline-block;
    color: #0e509e;
    border: solid 1px #9aafe5;
    padding: 3px 6px;
    font-size: 11px;
    line-height: 13px;
    text-decoration: none;
    &:hover {
      border-color: #2e6ab1;
    }
  }

  .current {
    background-color: #2e6ab1;
    border-color: #2e6ab1;
    color: #fff;
    font-weight: bold;
  }

  .prev a, .next a {
    font-weight: bold;
  }

  .first, .last {
    display: none;
  }
}