body {
  font-family: Helvertica, Verdana, Arial, sans-serif;
  font-size: 12px;
  margin-bottom: 20px;
}

.container {
  width: 970px !important; // Disabling responsiveness
}

#content {
  padding: 0 10px;
}