.table {
  width: 95%;
  border-collapse: separate;
  border-spacing: 2px;
  margin-bottom: 15px;
  
  tbody > tr > th {
    background-color: #eeeeff;
    color: #888;
    text-align: left;
    padding: 10px;
    vertical-align: top;
    border: none;
    line-height: 15px;
    a {
      color: #888;
      text-decoration: underline;
      &:hover {
        color: #888;
        text-decoration: none;
      }
    }
  }

  tbody > tr > td,
  tfoot > tr > td {
    font-size: 12px;
    color: #162027;
    padding: 1px 5px;
    vertical-align: middle;
    border: none;
    a.block {
      display: block;
      text-decoration: none;
      color: #000;
    }
  }
}

.table-bordered {
  width: 90%;
  border: 1px solid #000;

  thead > tr > th,
  tbody > tr > th {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 0;
    border: none;
    a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }

  tbody > tr > td,
  tfoot > tr > td {
    font-size: 11px;
  }
}

.table-dotted {
  width: 75%;

  tbody > tr > th {
    color: #000;
    text-align: left;
    vertical-align: middle;
    padding: 5px;
    border-bottom: 1px dotted #000;
  }

  tbody > tr > td {
    border-bottom: 1px dotted #000;
  }
}

.table-sorter {
  thead > tr > th {
    cursor: pointer;
  }
}

.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td {
  background-color: #c2fcc3;
}
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td {
  background-color: #e6e0d1;
}
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td {
  background-color: #eecebe;
}
.table-hover > tbody > tr:hover,
.table-hover > tfoot > tr:hover,
.table-hover > tbody > tr:hover > td.success,
.table-hover > tfoot > tr:hover > td.success,
.table-hover > tbody > tr:hover > td.warning,
.table-hover > tfoot > tr:hover > td.warning,
.table-hover > tbody > tr:hover > td.danger,
.table-hover > tfoot > tr:hover > td.danger,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tfoot > tr.success:hover > td,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tfoot > tr.warning:hover > td,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tfoot > tr.danger:hover > td {
  background-color: #e8fd98;
}