h1 {
  background-color: #1472B4;
  padding: 10px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin: 25px 0 15px 0;
}

h2 {
  color: #329126;
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
}

h3 {
  color: #000;
  font-size: 13px;
  font-weight: bold;
  margin: 13px 0;
}

h4 {
  background-color: #41b200;
  padding: 3px 0;
  text-align: center;
  border-bottom: 1px solid #555;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0 0 0;
}