<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#profile" data-toggle="tab">Profil du membre</a></li>
  <li><a href="#permissions" data-toggle="tab">Gestion des droits</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <!-- Profile -->
  <div class="tab-pane active" id="profile">
    <h2>Editer les informations</h2>
    <%= render 'form' %>
  </div>

  <!-- Permissions -->
  <div class="tab-pane" id="permissions">
    <h2>Gérer les droits</h2>
    <%= render 'permissions/form' %>
  </div>
</div>